<mat-card class="p-5 text-center">
<form [formGroup]="formData">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 mb-5">
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" required />
          <mat-error *ngIf="formData.get('title').hasError('required')">
            Error: Título es requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6 col-12 mb-5">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formData.get('status').hasError('required')">
            Error: Estado es requerido.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>
</mat-card>