<mat-card>
<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Título</mat-label>
          <input matInput formControlName="title" required />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status" required>
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Enviar
  </button>
</form>
</mat-card>
