<mat-card class="card">
  <mat-card-title class="mt-3">Ingrese datos para continuar</mat-card-title>
  <div class="row mt-5" >
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="col-12 mb-3">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
      </div>
      <div class="col-12 mb-3">
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Password">
        </mat-form-field>
      </div>
      <button class="mb-3" mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </div>
</mat-card>